.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* TODO: Fix with Flex 1 */
.content {
  height: 90vh;
  /* overflow-y: scroll; */
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
}

.nav {
  width: 100vw;
}