.wrapper {
  display: flex;
  flex-direction: column;
}

/* TODO: Fix with Flex 1 */
.content {
  min-height: 90vh;
  padding-bottom: 40px;
  /* overflow-y: scroll; */
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
}

.nav {
  width: 100vw;
}