@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

body, html, #root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
}
